
    <div class="container">
        <header>
            <div class="header">
                <h3>Nyílt napok</h3>
                <div class="row">
                    <div class="col-sm-6">
                        A nyílt napok célja, hogy az érdeklődő tanulók, szülők megismerjék az alapítvány céljait, működését, az oktatókat és a jellemző oktatási módszereket.
                        <br/><br/>
                        A nyílt napok programja:<br/>
                        16.00-16.30: Bemutatkozik az Érdmat Alapítvány<br/>
                        16.30-17.00: Kérdések - válaszok<br/>
                        17.00-18.00: Bemutató foglalkozás<br/>
                    </div>
                    <div class="col-sm-6">
                        <b>A nyílt napokat július 15-én és 28-án, illetve augusztus 5-én és 18-án tartjuk.</b><br/>
                        A nyílt napokra az alábbi elérhetőségek valamelyikén jelentkezhetnek az érdeklődők:<br/><br/>
                        web: www.erdmat.hu<br/>
                        e-mail: erdmatalap@gmail.com<br/>
                        telefon: 06-30-5171506<br/>
                        cím: 2030 Érd, Platánfa utca 19
                    </div>
                </div>
                <div>
                    <a class="btn btn-primary" target="_blank" href="https://docs.google.com/forms/d/1WoXlcTj71tllfYZSvFubNXMjQo5B1e4QoVP5_hY-TC8/viewform">Jelentkezem a nyílt napokra</a>
                </div>
            </div>
        </header>
<div class="bg">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" translate="{{'home.title'}}"></h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-envelope"></i> <span translate="{{'home.access.title'}}"></span></h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            <span translate="{{'home.access.address.title'}}"></span>:
                            <span translate="{{'home.access.address.value'}}"></span>
                        </p>
                        <p>
                            <span translate="{{'home.access.phone'}}"></span>: {{data.phone}}
                        </p>
                        <p>{{'home.access.email.label' | translate}}:
                            <a href="mailto:erdmat@erdmat.hu?Subject={{'home.access.email.subject' | translate}}" target="_top">{{data.email}}</a>
                        </p>
                        <p>{{'home.access.web' | translate}}: <a ui-sref="home">{{data.homePage}}</a></p>
                        <a ui-sref="map" class="btn btn-default"><span translate="{{'home.access.map'}}"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-book"></i> <span translate="{{'home.teaching.title'}}"></span></h4>
                    </div>
                    <div class="panel-body">
                        <p translate="{{'home.teaching.text'}}"></p>
                        <p><a ui-sref="teaching" class="btn btn-default" translate="{{'button.forward'}}"></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-thumbs-up"></i> <span translate="{{'home.results.title'}}"></span></h4>
                    </div>
                    <div class="panel-body">
                        <p translate="{{'home.results.text'}}"></p>
                        <p><a ui-sref="results" class="btn btn-default"><span translate="{{'button.forward'}}"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
