<header class="carousel slide">
    <div style="height: 200px; ">
		<uib-carousel active="slide.active" interval="slide.myInterval" no-wrap="slide.noWrapSlides">
			<uib-slide ng-repeat="slide in slide.slides track by $index" index="$index">
				<img ng-src="{{slide.image}}" style="margin:auto;">
				<div class="carousel-caption">
					<p translate="{{('home.carousel.' + $index + '.text')}}"></p>
				</div>
			</uib-slide>
		</uib-carousel>
    </div>
</header>

    <div class="container">
<div class="bg">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" translate="{{'home.title'}}"></h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-envelope"></i> <span translate="{{'home.access.title'}}"></span></h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            <span translate="{{'home.access.address.title'}}"></span>:
                            <span translate="{{'home.access.address.value'}}"></span>
                        </p>
                        <p>
                            <span translate="{{'home.access.phone'}}"></span>: {{data.phone}}
                        </p>
                        <p>{{'home.access.email.label' | translate}}:
                            <a href="mailto:erdmat@erdmat.hu?Subject={{'home.access.email.subject' | translate}}" target="_top">{{data.email}}</a>
                        </p>
                        <p>{{'home.access.web' | translate}}: <a ui-sref="home">{{data.homePage}}</a></p>
                        <a ui-sref="map" class="btn btn-default"><span translate="{{'home.access.map'}}"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-book"></i> <span translate="{{'home.teaching.title'}}"></span></h4>
                    </div>
                    <div class="panel-body">
                        <p translate="{{'home.teaching.text'}}"></p>
                        <p><a ui-sref="teaching" class="btn btn-default" translate="{{'button.forward'}}"></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-thumbs-up"></i> <span translate="{{'home.results.title'}}"></span></h4>
                    </div>
                    <div class="panel-body">
                        <p translate="{{'home.results.text'}}"></p>
                        <p><a ui-sref="results" class="btn btn-default"><span translate="{{'button.forward'}}"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
