<div class="container">
    <h1 class="page-header" translate="{{'partners.title'}}"></h1>
    <div class="panel panel-default" ng-repeat="partner in partners" index="$index">
        <div class="panel-heading"><a href="{{partner.homePage}}"><span translate="{{('partners.' + $index + '.head')}}"></span></a></div>
        <div class="panel-body"translate="{{('partners.' + $index + '.text')}}"></div>
    </div>

    <h1 class="page-header" translate="{{'sponsors.title'}}"></h1>
    <div class="panel panel-default" ng-repeat="sponsor in sponsors" index="$index">
        <div class="panel-heading"><a href="{{sponsor.homePage}}"><span translate="{{('sponsors.' + $index + '.head')}}"></span></a></div>
        <div class="panel-body"translate="{{('sponsors.' + $index + '.text')}}"></div>
    </div>
</div>