<div class="container">
<div class="bg">
    <h1 class="page-header">Pályázatok</h1>
    <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSci4W6hCfyDEP-RT7uJl39PVljg8zwvFi4luBQfAjOAIoTX-A/viewform">Az Érdmat Alapítvány matematika tehetségfejlesztő kurzusain való ingyenes részvételre pályázat itt.</a></p>
    <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeqxz7TovUW1Pyx8Nk7TwvORhUYUODqx4j9TMiVV2F9LbcyIA/viewform">Az országos matematika versenyeken való részvétel támogatására pályázat itt.</a></p>
</div>
</div>